<div class="contenido">
  <div class="banner">
    <div class="capa-blanca"></div>
    <img src="assets/img/bannerMTD.jpg" alt="bannerimg">
  </div>
  <div class="convocatoria">
    <div class="convocatoriatexto">
      <h2>HAZ LA DIFERENCIA</h2>
      <p>¡En Make The Difference<br>buscamos alguien como tu!</p>
      <button class="unetenos">
        <a routerLink="/register">
          <span style="color: white"> ¡ÚNETENOS!</span>
        </a>
      </button>
    </div>
    <div class="convocimg">
      <img src="assets/img/convocatoriaimg.png" alt="convocatoriaimg">
    </div>
  </div>
  <div class="jovenes">
    <div class="botones-jovenes">
      <div class="jovenescuadros">
        <div class="registrados">
          <h1 id="jregistrados">1000</h1>
          <h2>Jóvenes Registrados</h2>
        </div>
        <div class="voluntarios">
          <h1 id="jvoluntarios">100</h1>
          <h2>Jóvenes Voluntarios</h2>
        </div>
        <div class="capacitados">
          <h1 id="jcapacitados">100</h1>
          <h2>Jóvenes Capacitados</h2>
        </div>
      </div>
    </div>
    <div class="jovenesimg">
      <img src="assets/img/jovenes.png" alt="jovenesimg">
    </div>
  </div>
  <div class="estadisticas"></div>
  <div class="banneracreditacion">
    <div class="capagris"></div>
    <img src="assets/img/acreditacion.png" alt="banneracreditacion">
    <div class="textoacreditacion">
      <p>ACREDITACIÓN</p>
    </div>
  </div>
  <div class="acreditacion">
    <div class="pdf-link">
      <embed src="assets/docs/Constancia Minedu.pdf" type="application/pdf" width="420px" height="500px" class="centered-pdf" />
    </div>
  </div>
</div>
