body {
  background-size: cover;
  margin: 0; /* Asegúrate de que no haya margen alrededor del body */
  height: 100vh; /* Asegúrate de que el body ocupe toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/bannerMTD.jpg'); /* Ruta de la imagen de fondo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  font-family: "League Spartan", sans-serif;
  color: #fcf9f9;
  box-shadow: none; /* Quita la sombra si está causando la línea */
  padding: 30px;
  background-color: #3DB6B1;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px; /* Ajusta el tamaño del logo aquí */
}

.dialog-title {
  text-align: center;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.action-buttons button {
  width: 80%; /* Ajusta este valor según sea necesario */
  margin-bottom: 10px; /* Espacio entre los botones */
}

.register-button {
  background-color: #F4C22E; /* Color amarillo */
  color: white !important; /* Color del texto blanco */
  font-weight: bold;
}

.cancel-button {
  background-color: #3DB6B1; /* Color turquesa */
  color: white !important; /* Color del texto blanco */
  font-weight: bold;
}

.login-link {
  margin-top: 20px;
  color: white; /* Color turquesa */
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.login-link:hover {
  text-decoration: underline; /* Opcional: Añade subrayado al pasar el ratón */
}


/* Estilos para mantener el fondo gris cuando el usuario escribe */
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #3DB6B1; /* Fondo gris */
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex.mat-focused {
  background-color: #3DB6B1; /* Fondo gris al enfocarse */
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex .mat-input-element {
  background-color: transparent; /* Mantener el fondo transparente */
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex .mat-input-element:focus {
  background-color: transparent; /* Mantener el fondo transparente al enfocarse */
}
