<footer class="footer">
  <div class="logos">
    <i class="fab fa-facebook-f" style="color: #ffffff;"></i>
    <i class="fab fa-instagram" style="color: #ffffff;"></i>
    <i class="fab fa-tiktok" style="color: #ffffff;"></i>
    <i class="fab fa-twitter-square" style="color: #ffffff;"></i>
  </div>
  <div class="lema">
    <h1>"Nunca dudes que un pequeño grupo de ciudadanos comprometidos<br>puede cambiar el mundo. De hecho, solo eso puede lograrlo".<br>- Margaret Mead</h1>
  </div>
  <div class="contactanos">
    <h2>CONTÁCTANOS</h2>
    <div class="contacto-item">
      <div class="contactanoslogos">
        <i class="fas fa-envelope" style="color: #ffffff;"></i>
      </div>
      <div class="contactanostexto">
        <p>example@hotmail.com</p>
      </div>
    </div>
    <div class="contacto-item">
      <div class="contactanoslogos">
        <i class="fas fa-phone-square" style="color: #ffffff;"></i>
      </div>
      <div class="contactanostexto">
        <p>+51 111222333</p>
      </div>
    </div>
  </div>
</footer>

